/* estilos de fonte
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/
/* global settings */
html{
  box-sizing: border-box;
}
*, *::before, *::after{
box-sizing: inherit;
}
body, h1, ul, p{
margin: 0;
padding: 0;

}
body{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  color:initial;
}
nav{
box-shadow: none;
}
ul{
list-style-type: none;
}
textarea, select, input, button { outline: none; }
input:focus{
  /* border-color: red; */
}
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
option{
  border-color: white;
  background-color: white;
  /* color: red; */
  font-family: 'Montserrat', sans-serif;

  font-size: 1em;
}
option[selected]{
  font-family: 'Montserrat', sans-serif;

}
option:hover{
  background-color: pink;
}
/*classes e id's do conteúdo do site*/

/*     body           */
.amg-body{
  margin: 2em;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  background: -o-linear-gradient(#e66465, #9198e5);
  background: linear-gradient(#e66465, #9198e5);
}

/*     landing page*/
.v-section{
  height:100%;
  display:flex;
  align-items:center;
  color:#fff;
}

.land-container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.section-overlay{
  height:100%;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  /* background:#225470; */
  background-color: rgba(255, 230, 234, 0.788);
  opacity:0.85;
}

.section-content{
  z-index:2;
}

.section-content h2 {
  font-size:50px;
  margin-bottom:0;
}

.section-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
  background: darkmagenta;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.section-nav-site{
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  clip-path: polygon(50% 40%, 100% 0, 100% 100%, 0 100%, 0 0);
  z-index: -1;
}
.text-md-center{
  text-align: center;
}

/*     full site           */
.amg-container{
  width: 100%;
  background-color: #ffffff;
}


/*    navegação           */
.header-nav {
    background: rgb(212, 0, 231);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 0 2px 0 powderblue;
    padding: 2em 2em;
  }
/*hamburger icon*/
.hamburger {
    display: flex;
    align-items: center;
}

/* .hamburger__button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hamburger__button:focus {
    outline: none;
  }

  .hamburger__button-bar {
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
  }
 */
/*desktop*/
.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    padding-left: 20px;
    display: none;
}

/*background*/
.background__image {
    background: url("image/background.jpg");
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

/* header.amg-top{
background-image: url('../assets/img/img_toys.jpg');
background-position: center;
background-size: cover;
background-color: #1500ff6c;
padding: 0.8em;
} */
/* .amg-brand h1{
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-size: 2.5em;
padding-top: 0.2em;
}
.side-nav {
  background-color: #eee;
   background-image: url('../_img/kids1.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.side-nav li > a {
  color: rebeccapurple;
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 3em;
  line-height: 48px;
  padding: 22px;
}
.side-nav .nav-layer{
  background-color: rgba(255, 230, 234, 0.788);
}
.nav-layer{
  height: 100%;
}
.waves-effect{
  transition: .10s ease-out;
} */

/*Mobile navigation*/
.layer{
  /* width: 100%;
  top: 0;
  left: 0;
  background: rgba(90, 90, 90, 0.9); */
}
.mobile {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(90, 90, 90, 0.9);
    background-image: url('../_img/kids1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    transform: translateX(-110%);
    transition: transform 500ms ease-out;
    z-index: 2;
}
.mobile .nav-layer{
  background-color: rgba(255, 230, 234, 0.788);
  width: 100%;
}
.nav-layer{
  height: 100%;
}

.mobile-items {
    list-style: none;
    padding: 0;
    margin: 0.1em;
    font-size: 2rem;
}
.mobile-item{
  margin-bottom: 1em;
}
.mobile-item a{
  color: darkmagenta;
}
.open {
    display: flex;
    transform: translateX(0);
}

@media (min-width: 40rem) {
    span.hamburger{
        display: none;
    }

    .navigation li {
        display: block;
    }
}


/*    conteúdo do site           */
.content{
padding: 5em;
}
.mouse {
	max-width: 2.5rem;
	width: 100%;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform;
}

.scroll-link {
	position: absolute;
	bottom: 1rem;
	left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	10% {
		opacity: 1;
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0.01;
	}

}



/*    conteúdo da página doação          */
.amg-doe{
  background: url('../_img/mario-luigi.jpeg') no-repeat center center/cover;
  padding: 10em;
}
.amg-doe h2{
  color: #ffffff;
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
}
.amg-doacao{
}
.amg-doacao1, .amg-doacao2, .amg-doacao3{

}

/*           conteúdo da página institucional*/
.card{
  max-width: 80%;
  margin: 0.3em;
  box-shadow: 0 0 20px 0 rgb(0, 0, 43);
}
.card-missing-header{

}
.card-missing-header img{
  width: 100%;
}
.card-missing-info{
  text-align: center;
}
.card-missing-info section{
  margin-top: 0.3em;
}




/*           conteúdo da página apadrinhamento*/
.amg-form-apadrinhamento form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
fieldset{
margin-top: 0.5em;
border-left: none;
border-right: none;
border-bottom: none;
color: darkslategrey;
}
.amg-personalinfo-field{
}
input[type="text"], input[type="email"]{
  border:none;
  border-bottom: 2px solid violet;
  width: 100%
}
.form-input{
  margin: 0.5em;
}
.form-input label{
  margin-right: 1em;
}
.amg-option{
margin:  1.5em 1em;
}
.amg-option label{
  font-size: 1em;
}
.amg-registerinfo-field{
text-transform: uppercase;
font-weight: 600;
font-size: 0.7em;
color: grey;
}
.amg-registerinfo-field label{
  margin-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}
.amg-terms{
  font-size: 0.9em;
  color: black;
}
.form-error {
  color: #FFF;
  background-color: #F00;
}
.amg-btn-send{
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: lightcoral;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
 input[type="checkbox"], input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button and checkbox */
.checkmark-radio, .checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    /* border-radius: 10%; */
}
.checkmark-radio{
  border-radius: 100%;
  height: 20px;
  width: 20px;

}
.checkmark-box{
  border-radius: 5px;
  height: 23px;
  width: 23px;
  border: 2px solid black;

}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark-radio {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark-radio:after {
  top: 6px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-box {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark-box {
    /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark-box:after {
    display: block;
    transition: transform 5000ms;
}

/* Style the checkmark/indicator */
.container .checkmark-box:after {
  left: 6px;
  top: 2.5px;
  width: 8px;
  height: 11px;
  border: solid green;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*    footer           */
footer{
  padding: 2em 0;

}
.page-footer{
background-color: grey;
background: url('../_img/kids.jpeg') no-repeat center center/cover;
padding: 0;
}
.page-footer .footer-layer{
background-color: rgba(255, 192, 203, 0.699);
}
.footer-bottom{
  background-color: rgba(206, 206, 206, 0.103);
  z-index: -1;
}
@media only screen and (max-width: 720px){
.amg-body{
  margin: 1em;
}
.content{
  padding: 1em;
}
.amg-form-apadrinhamento{
  flex-direction: column;
  }
  .amg-btn-send{
    font-size: 3vw;
  }
}
