/* estilos de fonte
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* global settings */
html{
  box-sizing: border-box;
}
*, *::before, *::after{
box-sizing: inherit;
}
body, h1, h2, h3, ul, p{
margin: 0;
padding: 0;

}
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x:hidden;
}
a{ text-decoration: none; color:initial;}

ul{list-style-type: none;}

textarea, select, input, button { outline: none; }
select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(95, 158, 160, 0.507);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}
option{
  background-color: rgba(95, 158, 160, 0.507);
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

  font-size: 1em;
}
option[selected]{
  font-family: 'Montserrat', sans-serif;

}

/*classes e id's do conteúdo do site*/

/*     body           */
.amg-body{
  margin: 2em;
  background: -webkit-linear-gradient(#e66465, #9198e5);
  background: -o-linear-gradient(#e66465, #9198e5);
  background: linear-gradient(#e66465, #9198e5);
}

.btn{
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.wrapper span{
  margin: 0.5em 0;
  float: right;
}
/*     landing page*/
.v-section{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.land-container{
  max-width:960px;
  /* padding-left: 3rem;
  padding-right: 3rem; */
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.section-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  /* background:#225470; */
  background-color: rgba(255, 230, 234, 0.788);
  /* opacity:0.85; */
}

.section-content{
  z-index:2;
}

.section-content h1{
  font-size:50px;
  margin-bottom:0;
  color: rgb(212, 0, 231);
}

.section-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

#land-nav{
  padding:  1.5em 1.3em 5em;
  background-color: lavenderblush;
}
#land-nav h2{
  text-align: center;
  font-size: 1.8em;
  color: #e66465;
  margin: 1.5em 0;
}
#land-nav-box{
  box-shadow: 0 10px 10px 0 #9198e5;
  border-radius: 10%;
  padding: 0.6em 1em;
}
#land-nav-box li {
  text-align: center;
}
#land-nav-box li a{
  line-height: 3em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  color: #e66465;
}
#land-nav-box .land-nav-icon{
  font-size: 0.8em;
  color: #9198e5;
  border: 1px solid;
  padding: 1em;
  border-radius: 50px;
}
#land-nav-box .land-nav-icon:hover{
  background-color: #9198e5;
  color: white;
}
#land-nav-box li a:hover{
  color: black;
}
.section-b{
  background:#333;
  color:#fff;
}


.section-nav-site{
  background-color: lightcoral;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  clip-path: polygon(50% 40%, 100% 0, 100% 100%, 0 100%, 0 0);
  z-index: -1;
}

/*     full site           */
.amg-container{
  width: 100%;
  background-color: #ffffff;
}


/*    navegação           */
.header-nav {
    background: rgb(212, 0, 231);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: 0 0 10px 0 darkmagenta;
    padding: 2em 2em;
  }
/*hamburger icon*/
.hamburger {
    display: flex;
    align-items: center;
}
.fa, .fas {
  font-weight: 900;
  font-size: 1.5em;
}
/*desktop*/
.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation li {
    padding-left: 20px;
    display: none;
}

/*background*/
.background__image {
    background: url("image/background.jpg");
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

/*Mobile navigation*/
.mobile {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(90, 90, 90, 0.9);
    background-image: url('../_img/kids1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
    transform: translateX(-110%);
    transition: transform 500ms ease-out;
    z-index: 2;
}
.mobile .nav-layer{
  background-color: rgba(255, 230, 234, 0.788);
  width: 100%;
}
.nav-layer{
  height: 100%;
}

.mobile-items {
    list-style: none;
    padding: 0;
    margin: 0.1em;
    font-size: 2rem;
}
.mobile-item{
  margin-bottom: 1em;
}
.mobile-item a{
  color: darkmagenta;
}
.open {
    display: flex;
    transform: translateX(0);
}

@media (min-width: 40rem) {
    span.hamburger{
        display: none;
    }

    .navigation li {
        display: block;
    }
}


/*    conteúdo do site           */
.content{
padding: 3em;
}
.mouse {
	max-width: 2.5rem;
	width: 100%;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform;
}

.scroll-link {
	position: absolute;
	bottom: 1rem;
	left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	10% {
		opacity: 1;
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0.01;
	}

}



/*    conteúdo da página doação          */
.amg-doe{
  background: url('../_img/mario-luigi.jpeg') no-repeat center center/cover;
  padding: 10em 0;
}
.amg-doe h2{
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
.amg-doe-brinquedo{
  display: flex;
  flex-wrap: wrap;
}
.amg-doacao{
  box-shadow: 0 0 20px 0 darkcyan;
  padding: 0.3em;
  background-color: aliceblue;
  margin-top: 1em;
  margin-bottom: 1em;
}
.amg-doacao1 h3, .amg-doacao2 h3, .amg-doacao3 h3{
  border: 3px solid lavender;
  color: deeppink;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  padding: 0.8em;
  margin-bottom: 1em;
}
.amg-doacao1 p, .amg-doacao2 p, .amg-doacao3 p{
  text-align: justify;
  color: darkmagenta;
  letter-spacing: 0.1em;
}



/*    conteúdo da página institucional      */
.amg-aboutus-first{
  padding: 3em;
}
.amg-aboutus-header h3{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}
.amg-aboutus-header p{
  line-height: 1.7em;
}
.section-about{
  margin-top: 2em;
  margin-bottom: 1em;
}
.section-puzzle-icon{
  text-align: center;
  font-size: 3.3em;
  color: rgb(218, 0, 73);
}
.section-about h4{
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(218, 0, 73);
  font-size: 1.5em;
  text-align: center;
}
.section-nstates-img{
  text-align: center;
}
.fa-plus-circle{
  font-size: 1em;
}
.section-people-gallery{
  border: 2px solid rgb(218, 0, 73);
}
.volunter{
  display: grid;
  grid-template-columns: 50% 50%;
}
.volunter img{
  width: 100%;
}
.section-people-gallery p{
  font-weight: 600;
  line-height: 1.5em;
  padding: 0.2em;
  margin-top: 1em;
  background: rgba(218, 0, 73, 0.116);
}
.missing-kids-section{
  background-color: rgba(255, 0, 0, 0.829);
}
.missing-kids-header p{
  font-weight: 600;
  margin: 2em 0;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  color: rgb(29, 28, 28);
  border: 2px solid red;
  font-size: 1em;
}
.missing-kids-content{
  padding: 0.5em;
  display: flex;
  /* grid-template-columns: 40% 40%; */
  justify-content: space-around;
  /* flex-basis: 50%; */
  flex-flow: row wrap;
  flex-direction: row;
}
/* card1{
  grid-column: 1;
}
card2{
  grid-column: 2;
}
card3{
  grid-column: 3;
}
card4{
  grid-column: 4;
} */
.card{
  width: 40%;
  margin: 0 2em 1em 0;
  align-content: space-evenly;
  box-shadow: 0 10px 10px 0 rgb(0, 0, 43);
  display: flex;
}
.card-missing-header img{
  width: 100%;
}
.card-missing-header{
  background-color: rgba(255, 0, 0, 0.562);
  color: black;
  font-weight: 700;
  align-items: flex-end;
}
.card-title{
  text-transform: uppercase;
}
.card-title span{
  font-size: 0.9em;
}
.card-missing-info{
  text-align: center;
  background-color: antiquewhite;
}
.card-missing-info section{
  margin-top: 0.3em;
}




/*           conteúdo da página apadrinhamento*/
.input-field{
    margin: 2em 0;
}

fieldset{
margin-top: 0.5em;
border-left: none;
border-right: none;
border-bottom: none;
color: darkslategrey;
}
input[type=text], input[type=password], input[type=email], input[type=password]{
  border:none;
  border-bottom: 1.5px solid cadetblue;
  width: 100%;
  font-size: 0.7em;
}
input[type=text]:focus, input[type=email]:focus{
    animation: full-border .80s ease-in-out forwards;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder
, input[type="password"]::-webkit-input-placeholder {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
@keyframes full-border{
    0%{width: 30%; border-color: #ced4da}
    100%{width: 100%; border-color: rgb(75, 0, 0);}
}
@keyframes newsltt{
    0%{border-color: #ced4da}
    100%{border-color: rgb(75, 0, 0);}
}
.input-field{
    margin: 2em 0;
}

fieldset{
margin-top: 0.5em;
border-left: none;
border-right: none;
border-bottom: none;
color: darkslategrey;
}
input[type=text], input[type=password], input[type=email]{
  border:none;
  border-bottom: 1.5px solid cadetblue;
  width: 100%
}
input[type=text]:focus, input[type=email]:focus{
    animation: full-border .80s ease-in-out forwards;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
@keyframes full-border{
    0%{width: 30%; border-color: #ced4da}
    100%{width: 100%; border-color: rgb(75, 0, 0);}
}
@keyframes newsltt{
    0%{border-color: #ced4da}
    100%{border-color: rgb(75, 0, 0);}
}
/* .form-input{
  margin: 0.5em;
}
.form-input label{
  margin-right: 1em;
} */
.amg-option{
margin:  1.5em 1em;
}
.amg-option label{
  font-size: 1em;
}
.amg-registerinfo-field{
text-transform: uppercase;
font-weight: 600;
font-size: 0.7em;
color: grey;
}
.amg-registerinfo-field label{
  margin-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}
.amg-apmtoinfo-field{
  font-weight: 600;
  color: black;
}
.amg-terms{
  font-size: 1em;
  font-weight: 600;
  color: black;
}
.amg-btn-send{
  background-color: lightcoral;
  /* text-align: center; */
  font-size: 1.2em;
  width: 95%;
  font-weight: 600;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
 input[type="checkbox"], input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button and checkbox */
.checkmark-radio, .checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    /* border-radius: 10%; */
}
.checkmark-radio{
  border-radius: 100%;
  height: 20px;
  width: 20px;

}
.checkmark-box{
  border-radius: 5px;
  height: 23px;
  width: 23px;
  border: 2px solid black;

}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-radio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark-radio {
  background-color: white;
  border: 3px solid darkmagenta;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark-radio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark-radio:after {
  top: 2.1px;
  left: 2.2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: darkorchid;}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark-box {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark-box {
    /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark-box:after {
    display: block;
    transition: transform 5000ms;
}

/* Style the checkmark/indicator */
.container .checkmark-box:after {
  left: 6px;
  top: 2.5px;
  width: 8px;
  height: 11px;
  border: solid green;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*   contato                  */
.contact-form{
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  padding-top: 2em;
  padding-bottom: 1em;
  padding: 2em 1em 1em 1em;
}
.contact-header{
  padding: 0.3em;
  background-color: rgba(128, 128, 128, 0.068);
}
.contact-header h3{
  text-align: center;
  font-size: 1.3em;
}
.contact-header p{
  margin-top: 0.5em;
  font-weight: 600;
  color: rgb(0, 72, 114);
}
.amg-message{
  width: 70%;
  border: 2px solid cadetblue;
  height: 5em;
  /* border-left: 2px solid blueviolet;
  border-right: 2px solid blueviolet; */
}
.contact-btn{
  background-color: rgba(125, 192, 255, 0.356);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}





/*    footer           */
footer{
  padding: 2em 0;

}
.page-footer{
background-color: grey;
background: url('../_img/kids.jpeg') no-repeat center center/cover;
padding: 0;
}
.page-footer .footer-layer{
background-color: rgba(255, 192, 203, 0.699);
}
.footer-content{
  padding-top:1em; 
}
blockquote {
  background: #f9f9f952;
  border-left: 10px solid deeppink;
  margin: 1.5em 0;
  padding: 0.5em 0.3em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: deeppink;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

}
h5.midia-text{
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;

}
.bold-line{
  border: 1px solid darkorchid;
}
.midias{
  display: flex;
  justify-content: space-evenly;
}
.midia{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 0.9em;
  font-size: 2em;
}
.midia-f{
  color: blue;
  border: 2px solid blue;
}
.midia-f:hover{
  background-color: blue;
  color: white;
  cursor: pointer;
}
.midia-t{
  color: #1da1f2;
  border: 2px solid #1da1f2;
}
.midia-t:hover{
  background-color: #1da1f2;
  color: white;
  cursor: pointer;
}
.midia-w{
  color: #075e54;
  border: 2px solid #075e54;

}
.midia-w:hover{
  background-color: #075e54;
  color: white;
  cursor: pointer;
}

.contact{
  border: 0.3em solid violet;
  padding: 0.3em;
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.contact h4{
  width: 100%;
  order: -1;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.8em;
  color: rebeccapurple;
}
.contact > *{
  flex: 1 100%;
}
.contact-box{
  box-shadow: 0 0 10px 0 blanchedalmond;
  padding: 0.5em;
  margin: 0.5em;
  flex-basis: 190px;
}
.contact-box li{
  font-weight: 600;

}
.fa-phone-square{
  color: rgba(139, 0, 139, 0.603);
}
.contact-rj{
  order: 1;
}
.contact-sp{
  order: 2;
}
.footer-bottom{
  background-color: rgba(0, 0, 0, 0.342);
  z-index: -1;
}
@media only screen and (max-width: 720px){
.amg-body{
  margin: 1em;
}
.content{
  padding: 0.4em;
}
/*land page*/
#land-nav {
  padding: 0.3em;
}
#land-nav-box li {
  text-align: start;
}
.amg-doe h2{
  font-size: 7vw;
  line-height: 1.8;
}
.missing-kids-content{
  grid-template-columns: 100%;
  justify-content: space-between;
}
.card{
  width: 100%;
  flex-direction: column;
}
.card-missing-info{
  text-align: start;
}
.card-missing-info section {
  font-size: 0.8em;
  font-weight: 600;
}
.amg-doacao1 p, .amg-doacao2 p, .amg-doacao3 p{
  letter-spacing: 0;
}
.volunter{
  grid-template-columns: 100%;
}
.amg-form-apadrinhamento{
  flex-direction: column;
  }
  .amg-btn-send{
    font-size: 1em;
    padding: 1em 0;
    font-weight: 600;
    width: 100%;
  }
.amg-btn-send .material-icons{
  display: none;
}
.amg-message{
  width: 100%;
}
.amg-aboutus-first {
  padding: 0;
}
.midias{
  flex-wrap: wrap;
  flex-direction: row;
}
.midia {
  width: 50px;
  height: 50px;
  padding: 0.1em;
}
}